.accounts {
  white-space: nowrap;
  height: 240px;
}

.account {
  margin-right: -10px;
  display: inline-block;
  vertical-align: top;
  min-width: 110px;
}

.upDetailsButtonContainer {
  vertical-align: top;
  z-index: 2;
  margin: -55px 0px 34px 55px;
}

.downDetailsButtonContainer {
  vertical-align: top;
  z-index: 2;
  margin-left: 55px;
  margin-top: 15px;
}
